/* Coolors Exported Palette - https://coolors.co/2ecfe8-b98deb-45e6ff-f5d245-86e8f7 */

/* CSS HEX */
--sky-blue-crayola: #2ecfe8ff;
--lavender-floral: #b98debff;
--sky-blue-crayola-2: #45e6ffff;
--mustard: #f5d245ff;
--sky-blue-crayola-3: #86e8f7ff;

/* CSS HSL */
--sky-blue-crayola: hsla(188, 80%, 55%, 1);
--lavender-floral: hsla(268, 70%, 74%, 1);
--sky-blue-crayola-2: hsla(188, 100%, 64%, 1);
--mustard: hsla(48, 90%, 62%, 1);
--sky-blue-crayola-3: hsla(188, 88%, 75%, 1);

/* SCSS HEX */
$sky-blue-crayola: #2ecfe8ff;
$lavender-floral: #b98debff;
$sky-blue-crayola-2: #45e6ffff;
$mustard: #f5d245ff;
$sky-blue-crayola-3: #86e8f7ff;

/* SCSS HSL */
$sky-blue-crayola: hsla(188, 80%, 55%, 1);
$lavender-floral: hsla(268, 70%, 74%, 1);
$sky-blue-crayola-2: hsla(188, 100%, 64%, 1);
$mustard: hsla(48, 90%, 62%, 1);
$sky-blue-crayola-3: hsla(188, 88%, 75%, 1);

/* SCSS RGB */
$sky-blue-crayola: rgba(46, 207, 232, 1);
$lavender-floral: rgba(185, 141, 235, 1);
$sky-blue-crayola-2: rgba(69, 230, 255, 1);
$mustard: rgba(245, 210, 69, 1);
$sky-blue-crayola-3: rgba(134, 232, 247, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #2ecfe8ff, #b98debff, #45e6ffff, #f5d245ff, #86e8f7ff);
$gradient-right: linear-gradient(90deg, #2ecfe8ff, #b98debff, #45e6ffff, #f5d245ff, #86e8f7ff);
$gradient-bottom: linear-gradient(180deg, #2ecfe8ff, #b98debff, #45e6ffff, #f5d245ff, #86e8f7ff);
$gradient-left: linear-gradient(270deg, #2ecfe8ff, #b98debff, #45e6ffff, #f5d245ff, #86e8f7ff);
$gradient-top-right: linear-gradient(45deg, #2ecfe8ff, #b98debff, #45e6ffff, #f5d245ff, #86e8f7ff);
$gradient-bottom-right: linear-gradient(135deg, #2ecfe8ff, #b98debff, #45e6ffff, #f5d245ff, #86e8f7ff);
$gradient-top-left: linear-gradient(225deg, #2ecfe8ff, #b98debff, #45e6ffff, #f5d245ff, #86e8f7ff);
$gradient-bottom-left: linear-gradient(315deg, #2ecfe8ff, #b98debff, #45e6ffff, #f5d245ff, #86e8f7ff);
$gradient-radial: radial-gradient(#2ecfe8ff, #b98debff, #45e6ffff, #f5d245ff, #86e8f7ff);