{% extends "layout.html" %}
{% block title %}
<title> {{title}} </title>
{% endblock %}
{% block homepage %}
      <div class="container jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div>
          <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com//bryson-oscar/dj-bryscar">
          </iframe>
        </div>
        <div>
          <h1 class="display-4 font-italic">LIFITEQ HOLDINGS LTD</h1>
          <p class="lead my-3 blockquote text-center">youth owned enterprise whose business is the supply of office stationery, provision of IT services and solutions, supply general consumables and general supplies. We focus on delivering quality at sustainable prices. Our aim is to deliver beyond the expectations. The Lifiteq Holdings team is highly committed and ready to serve, partner with you, helping you achieve your organization goals effectively and with great efficiency.</p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
        </div>
      </div>
{% endblock %}