{% extends "layout.html" %}
{% block title %}
<title> {{title}} </title>
{% endblock %}
{% block login %}
<div class="container">
    <dvi class="container h-100">
        <div class="d-flex justify-content-center">
            <div class="card mt-5 col-md-4 animated bounceInDown myForm">
                <div class="card-header">
                    <h4>Login Page</h4>
                </div>
                <form>
                    <p>Username</p>
                    <input type="text" name="username" placeholder="Enter Username">
                    <p>Password</p>
                    <input type="password" name="password" placeholder="Enter Password">
                    <input type="submit" name="submit" value="Login">
                    <a href="#">Forget Password</a>    
                    </form>
                <div>Don't have an account
                    <a href="register">   <button class="btn btn-success btn-sm float-left submit_btn" style=""><i class="fas fa-arrow-alt-circle-left"></i> Register</button></a>
                </div>
            </div>
        </div>
        </dvi>
</div>
{% endblock %}