{% extends "layout.html" %}
{% block register %}
<div class="container">
    <dvi class="container h-100">
        <div class="d-flex justify-content-center">
            <div class="card mt-5 col-md-4 animated bounceInDown myForm">
                <div class="card-header">
                    <h4>Registration Page</h4>
                </div>
                <!-- <div class="card-body">
                    <form>
                        <div id="dynamic_container">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text br-15"><i class="fas fa-user-graduate"></i></span>
                                </div>
                                <input type="text" placeholder="Name" class="form-control"/>
                            </div>
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text br-15"><i class="fas fa-phone-square"></i></span>
                                </div>
                                <input type="text" placeholder="Phone" class="form-control"/>
                            </div>
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text br-15"><i class="fas fa-at"></i></span>
                                </div>
                                <input type="email" placeholder="Email" class="form-control"/>
                            </div>
                        </div>
                    </form>
                </div> -->
                <form style="background-color: honeydew;">
                    <h4 class="text-warning text-center pt-5">User Information</h4>
                    <label style="align-content: center;">
                     <input type="text" class="input" name="email" placeholder="EMAIL"/>
                        <div class="line-box">
                          <div class="line"></div>
                        </div>
                    </label>
                    <label>
                     <input type="text" class="input" name="username" placeholder="USERNAME"/>
                        <div class="line-box">
                          <div class="line"></div>
                        </div>
                    </label>
                    <label>
                     <input type="password" class="input" name="password" placeholder="PASSWORD"/>
                        <div class="line-box">
                          <div class="line"></div>
                        </div>
                    </label>
                    <label>
                     <input type="password" class="input" name="confirm" placeholder="CONFIRM PASSWORD"/>
                      <div class="line-box">
                        <div class="line"></div>
                      </div>
                    </label>
                  </form>
                <div class="card-footer">
                    <button class="btn btn-success btn-sm float-right submit_btn"><i class="fas fa-arrow-alt-circle-right"></i> Register</button>
                </div>
                <div>
                    <a href="login">Already have an account <button class="btn btn-success btn-sm float-left submit_btn"><i class="fas fa-arrow-alt-circle-left"></i> Login</button></a>
                </div>
            </div>
        </div>
        </dvi>
</div>
{% endblock %}